@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.orange-highlight{
    color: orange;
}
.top-banner{
    background: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
  
}
 p{
    color: dimgray;
}
img{
    width: 100%;
}
section .single-btn{
    padding: 10px 30px;
    background: linear-gradient(45deg,lightsalmon,tomato);
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-big{
   background: url("images/dream-bg.png");
   background-repeat: no-repeat;
   background-position: right;
}

.expriences{
    background: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.single-exprience{
      box-shadow: 10px 10px 30px gray ;
      height: 80%;
      border-radius: 5px;
}
.expriences #fullStack{
    border-left: 6px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
    background: white;

}
.expriences #babyDev{
    border-left: 6px solid;
    border-image: linear-gradient(180deg,cyan,blue);
    border-image-slice: 1;
}

footer{
    text-align: center;
}